:root {/*html*/
    --fonte-geral: "Raleway", sans-serif;
    font-weight: 500;
}
body {
    background-color:	#e5ffcc ;
    padding: 6%;
    font-family: var(--fonte-geral)
    
}

section{
    background-color: 	#d3f8b3 ;
    padding: 8%;
     border-radius: 10px ;
     box-shadow:   5px 5px 10px rgba(0, 0, 0, 0.5);
     
}


#calccomb{ 
    font-family: "Raleway", sans-serif;
    font-size: medium;
    background-color:  #ce2b37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition-duration: 0.4s; 
    box-shadow:   5px 5px 10px rgba(0, 0, 0, 0.5);;
    display: flex;
   
}

#calccomb:hover{
    transform: scale(1.1);
     
}

#limparesultado{
    font-family: "Raleway", sans-serif;
    font-size: medium;
    background-color:  #009246;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow:   5px 5px 10px rgba(0, 0, 0, 0.5);;
    margin-top: 5px;
    display: flex;

}

#limparesultado:hover{

    transform: scale(1.1);
}

label{
    font-family: "Raleway", sans-serif;
}

input{
    font-family: "Raleway", sans-serif;
    background-color: #f0f0f0;
    font-size: large;
    display:flex;
    border-radius: 5px;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; 
    margin-right: 10px;
    margin-left: 10px;
    
}

select{
    
    margin-right: 10px;
    margin-left: 10px;
    font-family: "Raleway", sans-serif;
    font-size: small;
    background-color: #f0f0f0;
    font-size: large;
    display:flex;
    border-radius: 5px;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center
}



h1,h2,h3 {
     font-family: "Raleway", sans-serif;
     text-align: center;
}

.elementos-em-linha{
    display: flex;
    justify-content: center;

}