/*
Estilos para outros tamanhos de telas:
    Mobile -> até 400px
    Tablet -> até 768px
    TVs -> Maior que 1920
  */
  
/* Mobile */
  @media screen and (max-width: 400px) {

    .menu-navegacao {
      display: none;
    }

  
    }
    .titulo-pagina,
    section,table {
         
        grid-template-columns: 1fr;
        
    }

    .elementos-em-linha,
    .botoes {

        flex-direction: column;
 
    } 


  
  /* Tablet  */
   @media screen and (max-width: 768px) {

    .titulo-pagina,
    section,table {
        
        /* grid-template-columns: repeat(2, 1fr); */
    }

    .elementos-em-linha,
    .botoes {

        flex-direction: column;

    }


  }

/* TVs */
/* @media screen and (min-width: 1921px) {

}  */