@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /*html*/
    --fonte-geral: "Raleway", sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}


body {
    background-color: var(--plano-fundo);
    ;
    /*#e5ffcc*/
    /* padding: 6%; */
    font-family: var(--fonte-geral);


}


table {
    border-collapse: collapse;
    width: 40%;
    margin-top: 6%;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* border-radius: 10px; */
    margin-left: 30%;



}

th,
td {
    border: 1px solid var(---cor-primaria-texto);
    padding: 8px;
    text-align: left;
    /* border-radius: 5px; */
    background-color: var(--cor-fundo-section);
    color: var(---cor-primaria-texto);


}

th {
    background-color: var(--cor-fundo-section);

}

section {
    background-color: var(--cor-fundo-section);
    padding: 5%;
     margin: auto;                 /*10% 30% 10% 30%;  */
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--cor-box-shadow);
    /* display: flex;  */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;


}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--cor-fundo-bdp);
    background-color: var(--cor-fundo-bdp#d3ffce);
    border-radius: 6px;


}

html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar-thumb {
    background-color: var(--cor-barra-da-pagina);
    background-color: var(--cor-barra-da-pagina#00d27f);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}


#btTriangulo,
#btCadastrar,
#btPesquisar,
#btConverteTemp,
#btCalcIMC,
#btdescont,
#btfutebol,
#calccomb,
#btcalcula,
 #btCalcular{
    font-family: "Raleway", sans-serif;
    font-size: medium;
    background-color: #ce2b37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 2px 2px 5px var(--cor-box-shadow);
    margin-right: 10%;


}


#btTriangulo:hover,
#btCadastrar:hover,
#btPesquisar:hover,
#btConverteTemp:hover,
#btCalcIMC:hover,
#btdescont:hover,
#btfutebol:hover,
#calccomb:hover,
#btcalcula:hover,
#btCalcular:hover {
    transform: scale(1.1);

}

#limparTri,
#btLimpaTemp,
#btLimpaIMC,
#limpardescont,
#btlimpa,
#limparesultado,
#btlimpar {
    font-family: "Raleway", sans-serif;
    font-size: medium;
    background-color: #009246;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 2px 2px 5px var(--cor-box-shadow);



}

#limparTri:hover,
#btLimpaTemp:hover,
#btLimpaIMC:hover,
#limpardescont:hover,
#btlimpa:hover,
#limparesultado:hover,
#btlimpar:hover {

    transform: scale(1.1);
}

label {
    font-family: "Raleway", sans-serif;
    /* padding-top: 20px; */
    color: var(--cor-label)
}

input,
select {
    font-family: "Raleway", sans-serif;
    background-color: #f0f0f0;
    font-size: large;
    border-radius: 5px;
    /* justify-content: center; */
    /* Centraliza o conteúdo horizontalmente */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100px;
    margin: 15px;
    padding-left: 8px;
    border: none;
    margin-bottom: 10px;
}

 a {
    color: #cacfd5;
    background-color: #7f7f7f;
    border-radius: 5px;
    display: flex;
    margin-bottom: 15px;
    transition-duration: 0.4s;
    padding: 5px;

}

a:hover {
    transform: scale(1.1);
}

#ancora {
    padding: 10px 10px 10px 10px;
    background-color: var(--cor-fundo-ancora);
    color: var(---cor-primaria-texto);
    text-decoration: none;
    border: none;
    border-radius: 50px;
    transition: transform 0.3s ease;
    justify-content: left;
    cursor: pointer;
    display: flex;
    position: fixed;
    bottom: 2rem;
    left: 2.5rem;
    box-shadow: var(--cor-box-shadow);
    margin: 0%;

 }





#btTrocaTema {

    padding: 10px 10px 10px 10px;
    background-color: var(--cor-fundo-ancora);
    color: var(---cor-primaria-texto);
    text-decoration: none;
    border: none;
    border-radius: 50px;
    transition: transform 0.3s ease;
    justify-content: left;
    cursor: pointer;
    display: flex;
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
    box-shadow: var(--cor-box-shadow);


}

#btTrocaTema:hover {
    transform: scale(1.1);
}

#btTrocaTema:active {
    box-shadow: inset 1px 1px 1px var();
}

#btTrocaTema img {
    height: 20px;
    justify-content: center;

}




#tipoTriangulo {
    justify-content: center;
}

#resultadoTriangulo,
#resultado {
    color: var(--cor-titulo);
}


.titulo-pagina,h1,h2,h3 {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: medium;
    color: var(--cor-titulo);
    background-color: var(--cor-fundo-section);
    border-radius: 10px;
    margin: 5%;
    margin-bottom: 5%;
    padding: 7px;
    
}

.elementos-em-linha {
    display: flex;
    justify-content: center;

}

#botoes {
    display: flex;
    justify-content: center;
    margin-top: 5%;


}

#resultadoTriangulo {
    padding-bottom: 3%;

}

#valorTemperatura,
#escalaAtual,
#escalaConvertida {
    width: 25%;
}

[data-tema="dark"] {
    --plano-fundo: #232b2b;
    ---cor-primaria-texto: #cacfd5;
    --cor-fundo-tags: black;
    --cor-box-shadow: #727f90;
    --cor-titulo: #cacfd5;
    --cor-fundo-ancora: #7f7f7f;
    --cor-barra-da-pagina: #7f7f7f;
    --cor-fundo-bdp: black;
    --header-cor-fundo: rgba(0, 0, 0, 0.5);
    --cor-fundo-section: #3b444b;
    --cor-label: #b0afae;


}

[data-tema="light"] {
    --plano-fundo: #b2d8d8;
    ---cor-primaria-texto: #3b444b;
    --cor-fundo-tags: #d3ffc;
    --cor-titulo: #004c4c;
    --cor-fundo-ancora: #008080;
    --cor-barra-da-pagina: #008080;
    --cor-box-shadow: rgba(0, 0, 0, 0.5);
    --header-cor-fundo: rgba(238, 238, 238, 0);
    --cor-fundo-section: #66b2b2;
    --cor-label: black;

}

.monetario::before {
    content: "R$ ";

}


/* .section {
    display: flex;
    flex-direction: column;
    background-color: #00d27f; }*/


/* .inputs-section input {
    margin-bottom: 10px;
  } */