@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {/*html*/
    --fonte-geral: "Raleway", sans-serif;
    font-weight: 500;
}


body {
    background-color: #dfe3ee;           /*#e5ffcc*/ 
    padding: 6%;
    font-family: var(--fonte-geral);
    display:flex;
    justify-content: center;

    
}

section{
    background-color:#8b9dc3;                 /*#d3f8b3 */
    padding: 8%;
    border-radius: 10px ;
     box-shadow:   5px 5px 10px rgba(0, 0, 0, 0.5);
     width: 400px;
     
     
}



 

#btTriangulo, #btCadastrar { 
    font-family: "Raleway", sans-serif;
    font-size: medium;
    background-color:  #ce2b37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition-duration: 0.4s; 
    box-shadow:   5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-right: 10%;
    
   
}

#btTriangulo:hover{
    transform: scale(1.1);
     
}

#limparTri{
    font-family: "Raleway", sans-serif;
    font-size: medium;
    background-color:  #009246;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow:   5px 5px 10px rgba(0, 0, 0, 0.5);;
    
    

}

#limparTri:hover{

    transform: scale(1.1);
}

label{
    font-family: "Raleway", sans-serif;
}

input{
    font-family: "Raleway", sans-serif;
    background-color: #f0f0f0;
    font-size: large;
    
    border-radius: 5px;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; 
    width: 100px;
    margin: 15px;
    
    
    
}


#btTrocaTema{
        color: white;
        padding: 20px 20px;
        background-color:var(--cor-fundo-ancora);
        background-color: var(--cor-fundo-ancora#1ddb82);
        text-decoration: none;
        border: none;
        border-radius: 50px;
        transition: transform 0.3s ease;
        justify-content: left;
        background-image: url(), url();
        background-size: 20px 20px, 20px 20px; /* Tamanho dos ícones */
        background-repeat: no-repeat, no-repeat; /* Evita que os ícones sejam repetidos */
        background-position: 10px center, calc(100% - 30px) center; /* Posicionamento dos ícones (horizontalmente) */
        padding-left: 40px;
        cursor: pointer;
        display: flex;
        position: fixed;
        bottom: 2rem;
        left: 2.5rem;
}

#btTrocaTema:hover{ transform: scale(1.1);}

#btTrocaTema img{
    height: 20px;
    justify-content: center;
}

#tipoTriangulo{
    justify-content: center;
}
    


h1,h2,h3 {
     font-family: "Raleway", sans-serif;
     text-align: center;
     font-size: medium;
}

.elementos-em-linha{
    display: flex;
    justify-content: center;

}

#botoes{
    display:flex;
    justify-content: center;
    
    
}

#resultadoTriangulo{
    padding-bottom: 3%;
    
}